## cn_stock/bars/daily

### Write

将csv文件复制到容器中，并执行`finance.tdengine.sql`

注意：数据库默认是系统时区，不设置的话，默认是北京时区，需要手动修改容器的配置，并从容器内部执行导入。从外部导入通过taos命令行导入，还是会变成北京时区。

### Read

In [12]:
# encoding:UTF-8
import taos
import pandas as pd

tdengine = taos.connect(
    host='localhost',
    port=6030,
    user="root",
    password="taosdata",
    database="finance",
    timezone="UTC",
)

try:
    result = tdengine.query("SELECT * FROM bars_daily_000001_sz;")
    df = pd.DataFrame(result.fetch_all(), columns=[field.name for field in result.fields])
finally:
    tdengine.close()
df

,dt,name,open,high,low,close,volume,amount,preclose,net_profit_ttm,...,total_sell_amt,total_buy_amt,net_flow_in,turnover,free_shares,total_shares,maxupordown,maxupordown_at_open,lb_up_count,lb_down_count
0,1991-01-03 00:00:00+00:00,深发展Ａ,66.400002,66.400002,66.400002,66.400002,21200,1410000,67.410004,0.000000e+00,...,0.000000,0.000000,0.00,0.00057,37099996,67900000,0,0,0,0
1,1991-01-04 00:00:00+00:00,深发展Ａ,66.070000,66.070000,66.070000,66.070000,16800,1109000,66.400002,0.000000e+00,...,0.000000,0.000000,0.00,0.00045,37100000,67900000,0,0,0,0
2,1991-01-07 00:00:00+00:00,深发展Ａ,66.419998,66.419998,66.419998,66.419998,40200,2672000,66.070000,0.000000e+00,...,0.000000,0.000000,0.00,0.00108,37100000,67900008,0,0,0,0
3,1991-01-09 00:00:00+00:00,深发展Ａ,65.760002,65.760002,65.760002,65.760002,6100,401000,66.419998,0.000000e+00,...,0.000000,0.000000,0.00,0.00016,37099996,67899992,0,0,0,0
4,1991-01-10 00:00:00+00:00,深发展Ａ,65.430000,65.430000,65.430000,65.430000,4900,320000,65.760002,0.000000e+00,...,0.000000,0.000000,0.00,0.00013,37100000,67900000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,2024-08-26 00:00:00+00:00,平安银行,10.500000,10.550000,10.420000,10.490000,74067524,775921849,10.470000,4.694700e+10,...,77592.179688,77592.179688,0.00,0.00382,19405617528,19405918198,0,0,0,0
7986,2024-08-27 00:00:00+00:00,平安银行,10.470000,10.520000,10.370000,10.430000,72313658,755583764,10.490000,4.694700e+10,...,75558.382812,75558.382812,0.00,0.00373,19405617528,19405918198,0,0,0,0
7987,2024-08-28 00:00:00+00:00,平安银行,10.410000,10.430000,10.280000,10.330000,94254754,973872155,10.430000,4.694700e+10,...,97387.210938,97387.210938,0.00,0.00486,19405617528,19405918198,0,0,0,0
7988,2024-08-29 00:00:00+00:00,平安银行,10.310000,10.380000,10.110000,10.130000,119767631,1221351092,10.330000,4.694700e+10,...,122135.109375,122135.109375,0.00,0.00617,19405617528,19405918198,0,0,0,0
7989,2024-08-30 00:00:00+00:00,平安银行,10.110000,10.260000,10.110000,10.160000,129405908,1318858688,10.130000,4.694700e+10,...,131885.875000,131885.859375,-0.01,0.00667,19405617528,19405918198,0,0,0,0