## cn_stock/bars/daily

### Write

执行`finance.tdengine.sql`

### Read

In [2]:
# encoding:UTF-8
import taos
import pandas as pd

tdengine = taos.connect(
    host='192.168.2.40',
    port=6030,
    user="root",
    password="taosdata",
    database="finance",
    timezone="Asia/Shanghai",
)

try:
    result = tdengine.query("SELECT * FROM bars_stock_daily_000001_sz;")
    df = pd.DataFrame(result.fetch_all(), columns=[field.name for field in result.fields])
finally:
    tdengine.close()
df

,dt,name,open,high,low,close,volume,amount,preclose,net_profit_ttm,...,free_shares,total_shares,maxupordown,maxupordown_at_open,lb_up_count,lb_down_count,close_,open_,high_,low_
0,1991-01-03 08:00:00+08:00,深发展Ａ,66.400002,66.400002,66.400002,66.400002,21200,1410000,67.410004,0.000000e+00,...,37099996,67900000,0,0,0,0,7.070765,7.070765,7.070765,7.070765
1,1991-01-04 08:00:00+08:00,深发展Ａ,66.070000,66.070000,66.070000,66.070000,16800,1109000,66.400002,0.000000e+00,...,37100000,67900000,0,0,0,0,7.035625,7.035625,7.035625,7.035625
2,1991-01-07 08:00:00+08:00,深发展Ａ,66.419998,66.419998,66.419998,66.419998,40200,2672000,66.070000,0.000000e+00,...,37100000,67900008,0,0,0,0,7.072895,7.072895,7.072895,7.072895
3,1991-01-09 08:00:00+08:00,深发展Ａ,65.760002,65.760002,65.760002,65.760002,6100,401000,66.419998,0.000000e+00,...,37099996,67899992,0,0,0,0,7.002614,7.002614,7.002614,7.002614
4,1991-01-10 08:00:00+08:00,深发展Ａ,65.430000,65.430000,65.430000,65.430000,4900,320000,65.760002,0.000000e+00,...,37100000,67900000,0,0,0,0,6.967473,6.967473,6.967473,6.967473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7984,2024-08-23 08:00:00+08:00,平安银行,10.390000,10.500000,10.320000,10.470000,107190571,1117475768,10.380000,4.694700e+10,...,19405617528,19405918198,0,0,0,0,10.470000,10.390000,10.500000,10.320000
7985,2024-08-26 08:00:00+08:00,平安银行,10.500000,10.550000,10.420000,10.490000,74067524,775921849,10.470000,4.694700e+10,...,19405617528,19405918198,0,0,0,0,10.490000,10.500000,10.550000,10.420000
7986,2024-08-27 08:00:00+08:00,平安银行,10.470000,10.520000,10.370000,10.430000,72313658,755583764,10.490000,4.694700e+10,...,19405617528,19405918198,0,0,0,0,10.430000,10.470000,10.520000,10.370000
7987,2024-08-28 08:00:00+08:00,平安银行,10.410000,10.430000,10.280000,10.330000,94254754,973872155,10.430000,4.694700e+10,...,19405617528,19405918198,0,0,0,0,10.330000,10.410000,10.430000,10.280000
7988,2024-08-29 08:00:00+08:00,平安银行,10.310000,10.380000,10.110000,10.130000,119767631,1221351092,10.330000,4.694700e+10,...,19405617528,19405918198,0,0,0,0,10.130000,10.310000,10.380000,10.110000